<?xml version="1.0" encoding="UTF-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <PublishUrl>C:\inetpub\wwwroot\apisite\dsdemo.appeon.com\RestApi</PublishUrl>
    <PublishProtocol>FileSystem</PublishProtocol>
    <DeleteExistingFiles>False</DeleteExistingFiles>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>AnyCPU</LastUsedPlatform>
    <ProjectGuid>2b232980-acb6-4258-9b7c-981a13e5501e</ProjectGuid>
    <TargetFramework>netstandard2.1</TargetFramework>
    <RuntimeIdentifier>Portable</RuntimeIdentifier>
    <_IsPortable>True</_IsPortable>
    <SelfContained>False</SelfContained>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
  </PropertyGroup>
</Project>